.carousel{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel .children{
    display: flex;
    flex-wrap: nowrap;

    transition: 0.5s transform;
    will-change: transform;
}

.carousel .children div{
    padding: 1em 0;
    
}

.carousel .button{
    font-weight: bold;
    color: white;
    position: absolute;
    top: calc(50% - 1.5em);
    transition: 1s background-color;
    transition: 0.5s color;
}

.carousel .button:hover{
    color: black;
    background-color: white;
}

.carousel .back{
    left: 0.1em;
}

.carousel .forward{
    right: 0.1em;
}

