/*
 * File: Navbar.module.css
 * Created: Saturday March 13th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Sunday March 28th 2021 2:03pm
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 * 2021-03-16	TvB	Changed over to using classes
 */

.nav{
    height: 3rem;
    background-color: white;
}

.nav div{
    display: flex;
    margin-left:0.5rem;
}

.nav a{
    font-size: 1.5rem;
    line-height: 2rem;

    color: var(--dark);
}

.nav a, .nav button{
    margin: 0.5rem 0;
}

.nav a span{
    display: none;
    font-size: inherit;
}

.spacer{
    flex: 1;
}

.nav button{
    height:3rem;
    transition:color 1s, background-color 1s;
    padding:0 1rem;
    margin-top:0;
    margin-bottom:0;
    background-color: inherit;
}

.nav button:hover{
    cursor: pointer;
}

#active{
    background-color:var(--dark);
    color:var(--light);
}

@media only screen and (min-width: 500px){
    .nav a span{
        display: inline;
    }
}