/*
 * File: YouTubeCarousel.module.css
 * Created: Saturday March 13th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Saturday March 13th 2021 6:26pm
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 */

 /** Carousel */
 .carousel{
    width: 100%;
    position: relative;
    overflow: hidden;

    background-color: var(--dark);
    color: var(--light);
}

/** All carousel children (groupd of carousel items */
.children{
    display: flex;
    flex-wrap: nowrap;

    transition: 0.5s transform;
    will-change: transform;

    display: grid;
    grid-auto-flow: column;
    gap: 0;
}

/* spinner-border d-block mx-auto my-5 text-secondary */
/** Loading div */
.loading{
    text-align: center;
    margin: 4rem;
}

/** Carousel Items */
/* col-lg-4 col-sm-6 col-xs-12 */
.carouselItem{
    width: 100vw;
    text-align: center;
    padding: 1rem 0;
}

.carouselItem p{
    width: 80%;
    max-height: 1.75rem;

    display: block;
    margin: 0 auto;
    padding-top: 0.25rem;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/** Controls */
.backButton, .forwardButton{
    font-weight: bold;
    color: white;

    position: absolute;
    top: calc(50% - 1.5em);
    
    background-color:rgba(128, 128, 128, 0.5);
    transition: 0.5s color;

    border-radius: 0.5rem;
    border:none;
}

.backButton:hover, .forwardButton:hover{
    color: var(--dark);
}

.backButton{
    left: 0.1em;
}

.forwardButton{
    right: 0.1em;
}

/** Screen width is bigger than 800px */
@media only screen and (min-width: 800px){
    .carouselItem{
        width: 50vw;
    }
}

/** Screen width is bigger than 1100px */
@media only screen and (min-width: 1100px){
    .carouselItem{
        width: 33vw;
    }
}