<!--
Filename: client/views/index.html
Created Date: Saturday, February 6th 2021, 11:54:57 pm
Author: Thomas vanBommel
-->


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thomas vanBommel</title>

    <meta charset="UTF-8">
    <meta name="description" content="Portfolio of Thomas vanBommel">
    <meta name="keywords" content="Thomas, vanBommel, Portfolio">
    <meta name="author" content="Thomas vanBommel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/bootstrap.css" />
  </head>
  <body>
    <div id="root"></div>

    <script src="/react.development.js" type="text/javascript"></script>
    <script src="/react-dom.development.js" type="text/javascript"></script>
    <script src="/bootstrap.js"></script>

    <script src="/main.js" type="text/javascript"></script>
  </body>
</html>