/*
 * File: AdminLogin.module.css
 * Created: Tuesday April 20th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Tuesday April 20th 2021 4:22pm
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 */

.container{
    width: max-content;
    max-width: 100%;

    margin: 1rem auto;

    text-align: center;
}

.container input{
    margin: 0.5rem;
}