/*
 * File: Event.module.css
 * Created: Tuesday April 20th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Tuesday April 20th 2021 9:25am
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 */

.event{
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.header{
    display:block;
}

@media only screen and (min-width: 500px){
    .header{
        display:flex;
    }
}

.spacer{
    flex: 1;
}

.commitContainer{
    margin-top:1rem;
}

.commit:not(:last-child){
    padding-bottom:0.5rem;
}