/*
 * File: Footer.module.css
 * Created: Saturday April 17th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Thursday April 22nd 2021 4:35pm
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 */

.footer{
    width: calc(100% - 1rem);
    opacity: 0.5;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer.open{
    opacity: 1;
    background-color: var(--dark);
    color:var(--light);
}

.footer .link{
    color: #551A8B;
    cursor: pointer;
}

.footer.open a, .footer.open .link{
    color:rgb(193, 164, 207);
}

.flex{
    display: flex;
}

.left, .right{
    flex: 1;
}

.right{
    text-align: end;
}

.footer .info{
    display:none;
}

.centered{
    width: max-content;
    margin: 0 auto;
    text-align: start;
}

.footer.open .info{
    display:block;
}

.footer .info p{
    margin: 0.5rem 0;
}