/*
 * File: Blog.module.css
 * Created: Saturday March 27th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Sunday March 28th 2021 12:05am
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 */

.content{
    height:calc(100vh - 3rem);
    overflow-y: scroll;
    max-width: 1200px;
    margin:0 auto;
}

.articleContainer{
    max-width:1000px;
    margin:0 auto;

    border:1rem solid transparent;
    box-sizing: border-box;
}

.title{
    margin:2rem 0;
}

.article p{
    padding-bottom:1rem;
}

.sidebar{
    width:max-content;
    margin:0 auto;

    padding:1rem;
    display:flex;

    margin-bottom:6vw;
}

.sidebar button{
    box-shadow: 0.25rem 0.25rem 0.25rem #888;
    padding:0.25rem;
    border-radius: 0.25rem;
}

.sidebar button:hover{
    background-color: var(--dark);
    color: var(--light);
    cursor: pointer;
}

.sidebar button:not(:last-child){
    margin-bottom:0.25rem;
    margin-right:0.25rem;
}

@media only screen and (min-width: 1200px){
    .sidebar{
        width:auto;
        margin:none;

        display:block;
        position:fixed;
        top: 3rem;
        left: 0;
    
        padding:1rem;
    }
}