/*
 * File: ContactForm.module.css
 * Created: Saturday March 13th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Saturday April 3rd 2021 1:20pm
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 * 2021-03-15	TvB	Clean-up
 */

.container{
    width: max-content;
    max-width: calc(100% - 1rem);

    margin: 1rem auto;
    padding: 1rem;

    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 1rem;

    box-shadow: 0.25rem 0.25rem rgba(128, 128, 128, 0.5);
    background-color: var(--light);
}

.container input, .container button{
    margin: 0.25rem 0;
}

.container textarea{
    max-width: 100%;
    display:block;
}

.title{
    margin-bottom:0.5rem;
}

.address{
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

.input{
    line-height: 2rem;
    display: flex;
}

.input input{
    flex: 1;
}

.invalid{
    background-color: rgba(255, 99, 71, 0.1);
}

.spinner{
    margin-top:5rem;
    text-align: center;
}

.spinner p{
    margin-top:2rem;
}