/*
 * File: Home.module.css
 * Created: Sunday March 28th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Saturday April 17th 2021 10:56pm
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 * 2021-04-16	TvB	Added overview class
 */

.scrollable{
    height:calc(100vh - 3rem);
    overflow-y: scroll;
}

.container{
    width:max-content;
    max-width: 100%;
    margin:0 auto;
    margin-top:1rem;
    background-color: #eee;
}

.container h2{
    margin-left:1rem;
}

.event{
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.header{
    display:block;
}

@media only screen and (min-width: 500px){
    .header{
        display:flex;
    }
}

.spacer{
    flex: 1;
}

.commitContainer{
    margin-top:1rem;
    /* margin
    border: 1rem solid transparent;
    box-sizing: border-box; */
}

.commit:not(:last-child){
    /* margin-bottom: 0.2rem; */
    padding-bottom:0.5rem;
}

.overview{
    padding:1rem;
    padding-bottom: 0;
    padding-top:0.5rem;
}

.overview p{
    padding:0.1rem;
}

.overview p:nth-child(even){
    background-color:rgba(0, 0, 0, 0.05);
}

.right{
    float:right;
}