/*
 * File: Home.module.css
 * Created: Sunday March 28th 2021
 * Author: Thomas vanBommel
 * 
 * Last Modified: Sunday March 28th 2021 2:16pm
 * Modified By: Thomas vanBommel
 * 
 * CHANGELOG:
 */

.scrollable{
    height:calc(100vh - 3rem);
    overflow-y: scroll;
}

.container{
    width:max-content;
    max-width: 100%;
    margin:0 auto;
    margin-top:2rem;
}

.event{
    max-width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    box-sizing: border-box;
}

.header{
    display:block;
}

@media only screen and (min-width: 500px){
    .header{
        display:flex;
    }
}

.spacer{
    flex: 1;
}

.commitContainer{
    margin-top:1rem;
    /* margin
    border: 1rem solid transparent;
    box-sizing: border-box; */
}

 /* .commit{

 } */

.commit:not(:last-child){
    /* margin-bottom: 0.2rem; */
    padding-bottom:0.5rem;
}